.header {
    overflow: hidden;
    background-color: #303030;
    padding: 0px 50px 0px 20px;
}
  
.header a {
    float: left;
    color: dodgerblue;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 15px;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
}
  
.header a.logo {
    font-size: 1px;
    font-weight: bold;
    padding: 0px;
    margin-top: 5px;
    margin-left: 15px;
}
  
.header-right {
    float: right;
}

.header-right a:hover {
    background-color: #272727;
}

.header-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #272727;
    top: 0px;
    left: 0px;
    margin-top: 50px;
    height: 100vh;
    width: 100vw;
}

.header-menu a {
    float: left;
    color: dodgerblue;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 15px;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
}
  
@media screen and (max-width: 500px) {
    .header {
        overflow: hidden;
        background-color: #303030;
        padding: 0px 15px 0px 20px;
    }
}